# Ignore everything in general/
general/*

# Ignore generated models
PA1/models/*

# compilation files
PA1/out/production/*

# intelliJ project files
PA1/.idea/*
PA1/.settings/*
PA1/.metadata/*
PA1/PA1.iml

# All unnecessary compilation files for writeup
*.aux
*.log
*.synctex.gz
*.pdf

# Ignore because this file is too large.
PA1/lib/stanford-corenlp-full-2015-01-30/stanford-corenlp-3.5.1-models.jar
PA1/models/downBigram.json
PA1/models/upUnigram.json
PA1/models/upTrigram.json
PA1/models/upBigram.json
PA1/models/downUnigram.json
PA1/models/downTrigram.json

# Ignore all previously unadded changes to PA1/
PA1/*
PA1.zip

# Setup tools unimportant
PA2/setuptools-15.1.zip

# Temporary python compilation stuff
PA2/__pycache__
